<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Station Latitude in deg-->
    <add key="QTH_Latitude" value="13.813"/>
    <!--Station Lontitude in deg-->
    <add key="QTH_Lontitude" value="99.792"/>
    <!--Station Attitude in km -->
    <add key="QTH_Attitude" value="0.11"/>

    <!--Rig Tx Frequency Offset -->
    <add key="TxOffset" value="-116000000"/>


    <!--Rotor Serial Port Config  portName/BaudRate/8/N/1-->
    <add key="PortName" value="COM27"/>
    <add key="BaudRate" value="9600"/>

    <!--Threshold for Rotor update new position if out tolence in deg-->
    <add key="RotorTolerenceThreshold" value="10"/>
    
  </appSettings>
</configuration>